<a href="https://colab.research.google.com/github/vale314/machine-learning-course-CUCEI-00/blob/main/Challenge03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
# Graficos embebidos.
%matplotlib inline

In [3]:
import numpy as np #importando numpy
from scipy import stats # importando scipy.stats
import matplotlib.pyplot as plt # importando matplotlib
import seaborn as sns # importando seaborn

# parámetros estéticos de seaborn
sns.set_palette("deep", desat=.6)
sns.set_context(rc={"figure.figsize": (8, 4)})

In [4]:
# Trabajando con una ruta relativa
path = './drive/MyDrive/CUCEI/ML-COURSE-JUAN/Students/' 

# Colocamos en una variable el archivo a trabajar
archivo = 'StudentsPerformance1.csv'

---
#### Solo correr para comprobar archivos

In [5]:
# Paquete requerido para listar los archivos del directorio
from os import listdir

In [6]:
import pandas as pd

In [7]:
Files = []
for File in listdir(path):
    # Escribir la RUTA COMPLETA de cada archivo
    Files.append(File)

In [8]:
# Mostramos los archivos del directorio que hemos decidido trabajar
Files

['StudentsPerformance.csv',
 'StudentsPerformance.gsheet',
 'StudentsPerformance1.csv']

### Abrir Archivo

In [10]:
df = pd.read_csv(path+archivo, index_col=0)

### Shape

In [12]:
df.shape

(1000, 8)

---

In [14]:
df.head()

     gender race/ethnicity  ... reading score writing score
NaN  female        group B  ...            72            74
NaN  female        group C  ...            90            88
NaN  female        group B  ...            95            93
NaN    male        group A  ...            57            44
NaN    male        group C  ...            78            75

[5 rows x 8 columns]

### Revisar si hay elementos vacios

In [15]:
df.isna().sum()

gender                         0
race/ethnicity                 0
parental level of education    0
lunch                          0
test preparation course        0
math score                     0
reading score                  0
writing score                  0
dtype: int64

#Dividir-Datos

In [35]:
p_train = 0.70 # Porcentaje de train.

df['is_train'] = np.random.uniform(0, 1, len(df)) <= p_train
train, test = df[df['is_train']==True], df[df['is_train']==False]
df = df.drop('is_train', 1)

## Revisar Cantidad De Datos

In [39]:
df.count()

gender                         1000
race/ethnicity                 1000
parental level of education    1000
lunch                          1000
test preparation course        1000
math score                     1000
reading score                  1000
writing score                  1000
dtype: int64

##70% De Trai y 30% De Test

In [36]:
print("Ejemplos usados para entrenar: ", len(train))
print("Ejemplos usados para test: ", len(test))

Ejemplos usados para entrenar:  713
Ejemplos usados para test:  287

In [37]:
train = train.drop('is_train', axis=1)
test = test.drop('is_train', axis=1)

In [38]:
print(train)
print(test)

     gender race/ethnicity  ... reading score writing score
NaN  female        group B  ...            72            74
NaN  female        group B  ...            95            93
NaN    male        group A  ...            57            44
NaN  female        group B  ...            95            92
NaN    male        group B  ...            43            39
..      ...            ...  ...           ...           ...
NaN  female        group D  ...            72            74
NaN    male        group A  ...            63            62
NaN  female        group E  ...            99            95
NaN    male        group C  ...            55            55
NaN  female        group D  ...            86            86

[713 rows x 8 columns]
     gender race/ethnicity  ... reading score writing score
NaN  female        group C  ...            90            88
NaN    male        group C  ...            78            75
NaN  female        group B  ...            83            78
NaN  female        group B  ...            81            73
NaN  female        group A  ...            53            58
..      ...            ...  ...           ...           ...
NaN    male        group D  ...            41            48
NaN  female        group C  ...            75            82
NaN  female        group D  ...            86            83
NaN  female        group C  ...            71            65
NaN  female        group D  ...            78            77

[287 rows x 8 columns]

#Dividir Datos 02

In [40]:
from sklearn.model_selection import train_test_split

In [41]:
train, test = train_test_split(df, test_size = 0.30)

print("Ejemplos usados para entrenar: ", len(train))
print("Ejemplos usados para test: ", len(test))

Ejemplos usados para entrenar:  700
Ejemplos usados para test:  300

In [42]:
print(train)

     gender race/ethnicity  ... reading score writing score
NaN    male        group C  ...            90            91
NaN  female        group D  ...            90            88
NaN    male        group B  ...            61            57
NaN    male        group D  ...            52            51
NaN  female        group C  ...            62            60
..      ...            ...  ...           ...           ...
NaN  female        group C  ...            74            77
NaN    male        group C  ...            67            58
NaN    male        group B  ...            71            69
NaN  female        group C  ...            62            61
NaN    male        group A  ...            82            73

[700 rows x 8 columns]

In [43]:
print(test)

     gender race/ethnicity  ... reading score writing score
NaN    male        group E  ...            81            79
NaN  female        group E  ...            65            69
NaN    male        group B  ...            84            86
NaN  female        group C  ...            66            64
NaN    male        group B  ...            48            49
..      ...            ...  ...           ...           ...
NaN  female        group C  ...            80            83
NaN    male        group D  ...            62            64
NaN  female        group E  ...            68            68
NaN  female        group D  ...           100           100
NaN  female        group C  ...            73            68

[300 rows x 8 columns]