<a href="https://colab.research.google.com/github/vale314/machine-learning-course-CUCEI-00/blob/main/Challenge04.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [4]:
# Graficos embebidos.
%matplotlib inline

In [5]:
import numpy as np #importando numpy
from scipy import stats # importando scipy.stats
import matplotlib.pyplot as plt # importando matplotlib
import seaborn as sns # importando seaborn

# parámetros estéticos de seaborn
sns.set_palette("deep", desat=.6)
sns.set_context(rc={"figure.figsize": (8, 4)})

In [6]:
# Trabajando con una ruta relativa
path = './drive/MyDrive/CUCEI/ML-COURSE-JUAN/Students/' 

# Colocamos en una variable el archivo a trabajar
archivo = 'StudentsPerformance1.csv'

In [7]:
# Paquete requerido para listar los archivos del directorio
from os import listdir

In [8]:
import pandas as pd

In [9]:
Files = []
for File in listdir(path):
    # Escribir la RUTA COMPLETA de cada archivo
    Files.append(File)

In [10]:
# Mostramos los archivos del directorio que hemos decidido trabajar
Files

['StudentsPerformance.csv',
 'StudentsPerformance.gsheet',
 'StudentsPerformance1.csv']

In [11]:
df = pd.read_csv(path+archivo, index_col=0)

In [12]:
df.shape

(1000, 8)

In [13]:
df.head()

     gender race/ethnicity  ... reading score writing score
NaN  female        group B  ...            72            74
NaN  female        group C  ...            90            88
NaN  female        group B  ...            95            93
NaN    male        group A  ...            57            44
NaN    male        group C  ...            78            75

[5 rows x 8 columns]

## Tipo De Problema

###Aprendizaje Supervizado

###Opcion01

#### Realizar Regresion para Math Score (Probabilistico)

###Opcion 03

#### Realizar Clasificacion Para Grupos A, B, C, D (Probabilistico)

### Aprendizaje No Supervizado

###Opcion02

#### Realizar Agrupamiento Para Math-Score con datos discretizados (Logistic)