<a href="https://colab.research.google.com/github/vale314/machine-learning-course-CUCEI-00/blob/main/Challenge02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
# Graficos embebidos.
%matplotlib inline

In [3]:
import numpy as np #importando numpy
from scipy import stats # importando scipy.stats
import matplotlib.pyplot as plt # importando matplotlib
import seaborn as sns # importando seaborn

# parámetros estéticos de seaborn
sns.set_palette("deep", desat=.6)
sns.set_context(rc={"figure.figsize": (8, 4)})

In [10]:
# Trabajando con una ruta relativa
path = './drive/MyDrive/CUCEI/ML-COURSE-JUAN/Covid/' 

# Colocamos en una variable el archivo a trabajar
archivo = 'Case.csv'

In [13]:
# Paquete requerido para listar los archivos del directorio
from os import listdir

In [11]:
import pandas as pd

In [15]:
Files = []
for File in listdir(path):
    # Escribir la RUTA COMPLETA de cada archivo
    Files.append(File)

In [16]:
# Mostramos los archivos del directorio que hemos decidido trabajar
Files

['SearchTrend.csv',
 'PatientInfo.csv',
 'Case.csv',
 'Policy.csv',
 'Region.csv',
 'SeoulFloating.csv',
 'Weather.csv',
 'TimeProvince.csv',
 'TimeAge.csv',
 'Time.csv',
 'TimeGender.csv']

In [17]:
df = pd.read_csv(path+archivo, index_col=0)

In [25]:
df.shape

(174, 7)

In [40]:
df.head()

         province          city  group  ... confirmed   latitude   longitude
 case_id                                ...
1000001     Seoul    Yongsan-gu   True  ...       139  37.538621  126.992652
1000002     Seoul     Gwanak-gu   True  ...       119   37.48208  126.901384
1000003     Seoul       Guro-gu   True  ...        95  37.508163  126.884387
1000004     Seoul  Yangcheon-gu   True  ...        43  37.546061  126.874209
1000005     Seoul     Dobong-gu   True  ...        43  37.679422  127.044374

[5 rows x 7 columns]

In [47]:
df.describe(include='all')

       province city group infection_case    confirmed latitude longitude
count       174  174   174            174   174.000000      174       174
unique       17   48     2             81          NaN       66        66
top       Seoul    -  True            etc          NaN        -         -
freq         38   53   124             17          NaN      109       109
mean        NaN  NaN   NaN            NaN    65.488506      NaN       NaN
std         NaN  NaN   NaN            NaN   355.097654      NaN       NaN
min         NaN  NaN   NaN            NaN     0.000000      NaN       NaN
25%         NaN  NaN   NaN            NaN     4.000000      NaN       NaN
50%         NaN  NaN   NaN            NaN    10.000000      NaN       NaN
75%         NaN  NaN   NaN            NaN    31.750000      NaN       NaN
max         NaN  NaN   NaN            NaN  4511.000000      NaN       NaN