<a href="https://colab.research.google.com/github/vale314/machine-learning-course-CUCEI-00/blob/main/Challenge02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
# Graficos embebidos.
%matplotlib inline

In [3]:
import numpy as np #importando numpy
from scipy import stats # importando scipy.stats
import matplotlib.pyplot as plt # importando matplotlib
import seaborn as sns # importando seaborn

# parámetros estéticos de seaborn
sns.set_palette("deep", desat=.6)
sns.set_context(rc={"figure.figsize": (8, 4)})

In [10]:
# Trabajando con una ruta relativa
path = './drive/MyDrive/CUCEI/ML-COURSE-JUAN/Covid/' 

# Colocamos en una variable el archivo a trabajar
archivo = 'Case.csv'

In [13]:
# Paquete requerido para listar los archivos del directorio
from os import listdir

In [11]:
import pandas as pd

In [15]:
Files = []
for File in listdir(path):
    # Escribir la RUTA COMPLETA de cada archivo
    Files.append(File)

In [16]:
# Mostramos los archivos del directorio que hemos decidido trabajar
Files

['SearchTrend.csv',
 'PatientInfo.csv',
 'Case.csv',
 'Policy.csv',
 'Region.csv',
 'SeoulFloating.csv',
 'Weather.csv',
 'TimeProvince.csv',
 'TimeAge.csv',
 'Time.csv',
 'TimeGender.csv']

In [48]:
df = pd.read_csv(path+Files[0], index_col=0)

In [63]:
Files = Files[1:]

for dfAux in Files:
  dfaA = pd.read_csv(path+dfAux, index_col=0)
  #aux = pd.merge(df, dfAux, how='inner', on=['Org ID', 'Org Name'])
  print('dfaA')

In [49]:
df.shape

(1642, 4)

In [50]:
df.head()

               cold      flu  pneumonia  coronavirus
date
2016-01-01  0.11663  0.05590    0.15726      0.00736
2016-01-02  0.13372  0.17135    0.20826      0.00890
2016-01-03  0.14917  0.22317    0.19326      0.00845
2016-01-04  0.17463  0.18626    0.29008      0.01145
2016-01-05  0.17226  0.15072    0.24562      0.01381

In [51]:
df.describe(include='all')

              cold          flu    pneumonia  coronavirus
count  1642.000000  1642.000000  1642.000000  1642.000000
mean      0.190506     0.244946     0.221430     1.862522
std       0.459556     0.762229     0.463014     9.042341
min       0.051630     0.009810     0.068810     0.001540
25%       0.106630     0.042105     0.128630     0.006270
50%       0.133170     0.097855     0.164445     0.008900
75%       0.165900     0.250035     0.209765     0.013158
max      15.720710    27.327270    11.393200   100.000000